<!-- navbar -->
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">
                <h1>HorseBook</h1>
            </a>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <a href="/" class="btn btn-primary">Home</a>
            </form>
        </div>
    </nav>