   <!--random-text-paragraphe-->
    <div class="row">
        <div class="col-3">
            <div class="d-flex justify-content-center">
                <h1>Titre</h1>
            </div>
            <div class="d-flex justify-content-center row">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Eveniet animi a placeat, consequatur itaque ipsam dolorum
                    at modi enim? Molestias, ex!Rem harum earum reprehenderit
                    sint, totam aut blanditiis nostrum!
                </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Amet asperiores deserunt aperiam quibusdam corrupti? Possimus
                    , atque impedit et fugiat unde, in quia iure nisi quis,
                    error quo autem qui explicabo.
                </p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Maiores eos sed hic nemo similique sint praesentium
                    recusandae esse, harum, impedit officia nobis fugit? Provident,
                    praesentium tenetur nulla est blanditiis dolorum!
                </p>
            </div>
        </div>