  <!-- random-text -->
    <div class="container">
        <div class="d-flex justify-content-center">
            <h2>Titre</h2>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-6">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Temporibus porro doloremque error minima corporis explicabo,
                    facilis, ipsum qui dolor commodi rerum reprehenderit fugit
                    quam alias incidunt pariatur nemo eaque unde.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    A quos animi id ex laboriosam ab, eius voluptas.
                    Architecto corporis velit deserunt, veritatis quod,
                    similique voluptatum laboriosam itaque accusamus asperiores aut!
                </p>
            </div>
        </div>
    </div>