  <!-- container-card -->
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <a href="index1" class="btn btn-primary">Riri</a>
                        </div>
                        <img src="/assets/pics/img.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <a href="index1" class="btn btn-primary">Fifi</a>
                        </div>
                        <img src="/assets/pics/img1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <a href="index1" class="btn btn-primary">Louloup</a>
                        </div>
                        <img src="/assets/pics/img2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <a href="index1" class="btn btn-primary">Tonnerre</a>
                        </div>
                        <img src="/assets/pics/img3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <a href="index1" class="btn btn-primary">Tulipe</a>
                        </div>
                        <img src="/assets/pics/img4.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <div class="d-flex justify-content-center">
                            <a href="index1" class="btn btn-primary">Choupette</a>
                        </div>
                        <img src="/assets/pics/img5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
